@model MatematicaFinanceiraWeb.Models.ValoresFinanciamento;
@{
    ViewData["Title"] = "Home Page";
}

        <div class="row escolhe_financiamento">
            @using (Html.BeginForm("GerarTabela", "Price", FormMethod.Post))
            {
                <div class="col-md-4 col-lg-3 sidebar">
                    <h3 style="text-align:left">Dados Financiamento</h3>
                    @Html.TextBoxFor(m => m.Valor, new { @class = "form-control mb-2", @placeholder = "Valor financiamento", id = "valorFinanciamento", @Value = "test", Type = "number",  })
                    @*<input type="number" class="form-control mb-2" value="@{@Model?.Valor.ToString();} " name="Valor" id="valorFinanciamento" placeholder="Valor financiamento" required>*@
                    <br />
                    @Html.TextBoxFor(m => m.Prazo, new { @class = "form-control mb-2", @placeholder = "Prazo", id = "prazo", Type = "number" })
                    <br />
                    @Html.TextBoxFor(m => m.TaxaJuros, new { @class = "form-control mb-2", @placeholder = "Prazo", id = "TaxaJuros", Type = "number" })
                    <br />
                    <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Gerar Tabela Price</button>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div> 
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <select id="" class="form-control">
                        <option>select</option>
                        </select>
                        <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    @if (Model?.Parcelas.Count > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Número</th>
                                    <th scope="col">Prestação</th>
                                    <th scope="col">Juros</th>
                                    <th scope="col">Amortização</th>
                                    <th scope="col">Saldo devedor</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Parcelas.Count; i++)
                                {
                                    <tr>
                                        @{var numero = i + 1;}
                                        <td>@numero</td>
                                        <td>@Model.Parcelas[i].Prestacao</td>
                                        <td>@Model.Parcelas[i].Juros</td>
                                        <td>@Model.Parcelas[i].Amortizacao</td>
                                        <td>@Model.Parcelas[i].SaldoDevedor</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }
        </div>

