@model MatematicaFinanceiraWeb.Models.ValoresFinanciamento;
@{
    var calculo = ViewData["Calculo"] != null ? (decimal)ViewData["Calculo"] : 0;
}
<div class="row escolhe_financiamento">
    @using (Html.BeginForm("GerarTabela", "Sac", FormMethod.Post))
    {
        <div class="col-md-4 col-lg-3 sidebar">
            <h3 style="text-align:left">Dados Financiamento</h3>
            @Html.TextBoxFor(m => m.Valor, new { @class = "form-control mb-2", @min = "0", @placeholder = "Valor financiamento", id = "valorFinanciamento", Type = "text", @step = "1.00", required = "required" })
            <br />
            @Html.TextBoxFor(m => m.Prazo, new { @class = "form-control mb-2", @placeholder = "Prazo", @min = "0", id = "prazo", Type = "text", required = "required" })
            <br />
            @Html.TextBoxFor(m => m.TaxaJuros, new { @class = "form-control mb-2", @step = "0.01", @placeholder = "Taxa juros a.m", @min = "0", id = "TaxaJuros", Type = "text", required = "required" })
            <br />
            <div style="text-align: center">
                <button type="submit"  class="btn btn-primary" id="tipoSubmit" name="tipoSubmit" value="geraTabela">Gerar Tabela</button>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 main">
          <h3 style="text-align:center">Sistema SAC</h3>
            <div class="navbar-form navbar-left" role="search">
                <select required id="opcoesCalcularSac" name="opcoesCalcularSac" class="form-control">
                    <option disabled selected value="">Escolha uma opção</option>
                    <option value="1">Valor da Amortização</option>
                    <option value="2">Saldo devedor ao pagar parcela de nº</option>
                    <option value="3">Saldo devedor na parcela de nº</option>
                    <option value="4">Juros ao pagar parcela de nº</option>
                    <option value="5">Juros acumulado até parcela de nº</option>
                    <option value="6">Juros acumulados entre parcelas</option>
                    <option value="7">Valor da parcela de nº</option>
                    <option value="8">Soma das parcelas acumuladas</option>
                    <option value="9">Amortização acumulada entre parcelas</option>
                    <option value="10">Soma entre parcelas de nº</option>
                    <option value="11">Decréscimos nas prestações</option>
                </select>
                <div class="form-group" id="t"></div>
                <div class="form-group" id="k"></div>
                <button type="submit" class="btn btn-primary" name="tipoSubmit" id="calcSubmit" value="calcularOpcao">Calcular</button>
                @if (calculo > 0)
                {
                    <div class="form-group" id='resultado'>
                        <label> Resultado</label>
                        <input type="text" class="form-control" placeholder="Resultado" value="R$ @calculo.ToString()" readonly>
                    </div>
                }
            </div>
            @if (Model?.Parcelas.Count > 0)
            {
                <table class="table table-striped" id="parcelas">
                    <thead>
                        <tr>
                            <th scope="col">Número</th>
                            <th scope="col">Prestação</th>
                            <th scope="col">Juros</th>
                            <th scope="col">Amortização</th>
                            <th scope="col">Saldo devedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Parcelas.Count; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@Math.Round(Model.Parcelas[i].Prestacao,2)</td>
                                <td>@Math.Round(Model.Parcelas[i].Juros,2)</td>
                                <td>@Math.Round(Model.Parcelas[i].Amortizacao,2)</td>
                                <td>@Math.Round(Model.Parcelas[i].SaldoDevedor,2)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
</div>
